*{
    box-sizing: border-box;
}

body{
    font-family: monospace;
    margin: 0;
    background-color: #011b40;
    
}
.header{
    background-image: url(aur\ \(5\)2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: left ;
    color: #ffffff;
    text-align: right;
    padding: 70px;
    object-fit:cover;
    height: 100%;
    width: 100%;
    padding-right: 13%;
    margin-top: -180px;
}

.htext {
  margin-top: 0px;
}

.header h6{
  font-size: 80px;
  font-family: monospace;
  font-weight: 10px;
  color: #ffffff;
}   

.htext .haca {
  margin-bottom: 0px;  
  color: #239aed;
}

.htext .hser {
  color: #e0d26a;
  margin-top: 10px;
  margin-bottom: 50px;
}

.header button {
  background-color: transparent;
  padding: 5px 20px;
  border-radius: 0px;
  border: 1px #f96428 solid;
  margin-bottom: 50px;
  
}

.header a{
  font-size: 25px;
  color: #f96428;
  text-decoration: none;
}

.logo img {
  width: 100px; /* Adjust the width as needed */
  height: auto; /* Maintain aspect ratio */
}

.nav {
  position: sticky;
  overflow: hidden;
  top: 0;
  text-align: center;
  margin-right: 200px;
  transition: background-color 0.3 ease-in-out;
}

  
.nav .logo {
  float: left;
  padding: 0px 50px;
}

.nav a {
  display: inline-block;
  text-decoration: none;
  font-size: 20px;
  color: #fff;
  padding: 20px 20px;
  transition: background-color 0.3 ease-in-out;
}


img{
    width: 330px;
    height: auto;
}
.blog{
    background-color: beige;
}

.logovid {
  padding-top: 20px;
  display: flex;
  justify-content: center;
  padding-right: 50px;
  background-color: #011b40;
}

.logovid video{
  width: 400px;
}

.tagline{
    font-size: 50px;
    font-weight: bold;
    text-align: center;
}

.tagline .sline {
  margin: 20px 0px;
  color: #fdd573;
}

.tagline .pline {
  color: #c14ea3;
  margin: 0;
}
   
.services{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: #011b40;
    padding: 50px 0px;
    color: white;
    text-align: center;
}

.logos1 {
  flex: 34%;
}

.logos1 video {
  width: 200px;
}

.logos2 video {
  width: 200px;
}

.services img {
  width: 150px;
}

.service {
  flex: 32%;
}

.service h5 {
  font-size: 30px;
  margin-top: 0px;
  margin-bottom: 20px;
  color: #e0d26a;
}

.service p {
  text-align: center;
  color: #239aed;
  /* padding: 0px 300px; */
}

.service button {
  background-color: transparent;
  color: #e0d26a;
  padding: 15px;
  border-radius: 0px;
  border: 1px #e0d26a solid;
  margin-top: 30px;
  text-decoration: none;
  font-size: 15px;
  font-weight: bold;
}

.logos2 {
  flex: 34%;
}

.blogs{
  display: flex;
  flex-wrap: wrap;
  background-image: url(au1\ -\ Copy.png);
  background-size: cover;
  padding: 175px 0px;
  /* padding-left: 50px; */
  /* padding-right: 800px; */
  color: white;
  text-align: justify;
}

.blogs h5 {
  font-size: 80px;
  text-align: center;
  color: #e0d26a;
  margin: 30px 0px;
  padding: 50px 0px;
}

.blog {
  text-align: center;
  flex: 35%;
  padding-left: 50px;
  background-color: transparent;
}

.empty {
  flex: 65%;
}

.blog button {
  background-color: transparent;
  padding: 15px;
  border: 3px #e0d26a solid;  
  text-decoration: none;
  font-size: 15px;
  font-weight: bold;
  color: #f8eb89;
}

.blog button:hover {
  color: #011b40  ;  
  background-color: #e0d26a;
  border: 3px #2399ed00 solid;
  cursor: pointer;
}

/* button a{
  font-size: 20px;
  padding: 10px 20px;
  border: none;
  position: relative;
  background-color: transparent;
}
button::before{
  position: absolute;
  content: '';
  border-top: #fff solid 3px;
  border-left: #fff solid 3px ;
  height: 10%;
  width: 30%;
  top: -3px;
  left: -3px;
  transition: 0.3s all ease-in-out;
}
button::after{
  position: absolute;
  content: '';
  border-top: #fff solid 3px;
  border-right: #fff solid 3px ;
  height: 10%;
  width: 30%;
  top: -3px;
  left: -3px;
  transition: 0.3s all ease-in-out;
}
button:hover{
  color: #f96428;
}
button:hover:before,
button:hover::after{
  width: 100%;
  height: 105%;
  border-color: #f96428;

} */



#signup {
  display: flex;
  flex-wrap: wrap;
}

.signin {
  color: #e0d26a;
  font-size: 30px;
}

.sform {
  flex: 50%;
  padding: 30px;
  background-color: #06315e;
  /* border-radius: 25px; */
  margin: 20px 0px;
  margin-left: 20px;
  max-width: 40%;
}

.sform h5 {
  font-size: 30px;
  margin: 30px 0px;
}

.input {
  margin: 5px 0;
  padding: 10px 0;
  width: 100%;
  border-top: 0;
  border-left: 0;
  border-right: 0;
  border-bottom: 3px solid #0d85da;
  outline: none;
  color: #10b9be8f;
  font-size: 18px;
  background: transparent;
}

::placeholder {
  color: #2399ed27;
}

#signup button {
  background-color: transparent;
  color: #e0d26a;
  font-size: 20px;
  font-weight: bold;
  padding: 15px;
  margin-top: 5px;
  width: 100%;
  border: 3px #e0d26a solid;
  border-radius: 0px;
}

#signup button:hover {
  background-color: #e0d26a;
  color: #011b40;
}

.sinfo {
  flex: 50%;
  padding: 0px 30px;
  text-align: center;
}


.sinfo .acad {
  font-size: 50px;
  color: #239aed;
  margin-top: 75px;
  margin-bottom: 10px;
}

.sinfo .server {
  font-size: 48px;
  color: #e0d26a;
  margin: 10px 0px;
}

.sinfo p {
  text-align: center;
  font-size: 30px;
  color: #f96428;
  padding: 0px 120px;
}


#footer{
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  color: #e0d26a;;
  padding: 10px;
  background-color: #00122b;
}

#footer .about{
flex: 60%;
text-align: left;
padding-right: 100px;
}

#footer h5 {
  font-size: 20px;
}

#footer p {
text-align: justify;
color: #fff;
font-size: 16px;
}

#footer .menu {
flex: 15%;
text-align: left;
}

#footer .menu a {
display: flex;
justify-content: left;
text-decoration: none;
color: white;
font-size: 20px;
}

#footer .address {
flex: 25%;
}

#footer .address h5, p {
display: flex;
justify-content: left;
text-align: left;
text-decoration: none;
}





.logos {
  display: flex;
  justify-content: left;
}

.logos img{
  height: 30px;
  width: auto;
  margin: 5px 10px;
  }

@media screen and (max-width: 725px){
  
  .nav {
    position: relative;
    text-align: center;
    margin-right: 0px;
  }
  
  .nav a {
        float: none;
        width: 100%;
    }
    .nav .logo {
      padding: 0px 0px;
    }
    
  .header {
    margin-top: -425px;
    padding-top: 200px;
    text-align: center;
  }

  #signup {
    display:flex;
    justify-content: center;
  }
}


@media screen and (max-width: 700px) {
    .blogs {
      flex-direction: column;
    }

    .signup {
      display: flex;
      text-align: center;
    }

}

@media screen and (max-width: 599px) {
  
  .header {
    margin-top: 0px;
  }

  .header h6 {
    font-size: 50px;
  }
  
  .tagline h6 {
    font-size: 30px;
  }

  .blogs h5 {
    font-size: 30px;
  }
  
  .services{
      margin: 0px 150px;
      flex-direction: column;
  }

  .sform {
    width: 500px;
  }
}

