*{
  box-sizing: border-box;
}

body{
  font-family: 'Times New Roman', Times, serif;
  margin: 0;
  background-color: #5f84a2;
  
}
.header{
  background-image: url("aur\ \(5\).jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: left ;
  color: #ffffff;
  text-align: center;
  padding: 114.5px;
  object-fit:cover;
  height: 100%;
  width: 100%;
  padding-right: 13%;
  margin-top: -180px;
}
.header h6{
font-size: 80px;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-weight: 1;
  color: #e0d26a;
  
}

.logo img {
  width: 100px; /* Adjust the width as needed */
  height: auto; /* Maintain aspect ratio */
}

.nav {
  position: sticky;
  overflow: hidden;
  top: 0;
  text-align: center;
  margin-right: 200px;
  transition: background-color 0.3 ease-in-out;
}

  
.nav .logo {
  float: left;
  padding: 0px 50px;
}

.nav a {
  display: inline-block;
  text-decoration: none;
  font-size: 20px;
  color: #fff;
  padding: 20px 20px;
  transition: background-color 0.3 ease-in-out;
}

.blogs {
  display: flex;
  flex-wrap: wrap;
  text-align: justify;
}

.blog1 {
  flex: 50%;
  padding: 60px;
  background-color: #e0d26a;
}

.blog2 {
  flex: 50%;
  padding: 60px;
  background-color: #239aed;
}

.blogs h5 {
  font-size: 28px;
}

.info1{
  display: flex;
  flex-wrap: wrap;
  background-image: url(aur\ \(3\).jpg);
  background-size: cover;
  padding: 175px 0px;
  /* padding-left: 50px; */
  /* padding-right: 800px; */
  color: white;
  text-align: justify;
  font-family:"Times New Roman', Times, serif";
}

.info h5 {
  font-size: 30px;
  text-align: center;
}

.info {
  position: relative;
  flex: 35%;
  right: 40px;
  padding: 20px 25px;
  background-color: #a57e5554;
}

.empty {
  flex: 65%;
}


.info2{
  display: flex;
  flex-wrap: wrap;
  background-image: url(aur\ \(2\).jpg);
  background-size: cover;
  padding: 170px 0px;
  /* padding-left: 50px; */
  /* padding-right: 800px; */
  color: white;
  text-align: justify;
  font-family:"Times New Roman', Times, serif";
}

.infoo h5 {
  font-size: 30px;
  text-align: center;
}

.infoo {
  position: relative;
  flex: 35%;
  left: 40px;
  padding: 20px 25px;
  background-color: #a57e5554;
}

.empty2 {
  flex: 65%;
}
