*{
  box-sizing: border-box;
}

body{
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  background-color: #fff;
  
}


.logo img {
  width: 100px; /* Adjust the width as needed */
  height: auto; /* Maintain aspect ratio */
}

.nav {
  position: sticky;
  overflow: hidden;
  top: 0;
  text-align: center;
  background-color: #240c0a;
}

  
.nav .logo {
  float: left;
  padding: 0px 0px;
}

.nav .logo img {
  height: 60px;
  width: auto;
}

.nav a {
  display: inline-block;
  text-decoration: none;
  font-size: 20px;
  color: #fff;
  padding: 20px 20px;
  transition: background-color 0.3 ease-in-out;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.aside {
  flex: 30%;
}

.aside img {
  width: 100%;
  height: 100%;
}

.main {
  flex: 60%;
}

.contact h5 {
  font-size: 30px;
  text-align: center;
  margin-bottom: 0px;
}

.contact p {
  font-size: 16x;
  text-align: center;
}

.row2 {
  display: flex;
  flex-wrap: wrap;
}

.fillup {
  flex: 50%;
}

.input {
  margin: 20px 30px;
  padding: 10px 0;
  width: 90%;
  border-top: 0;
  border-left: 0;
  border-right: 0;
  border-bottom: 1px solid #000000;
  outline: none;
  font-size: 18px;
  color: #000000;
  background: transparent;
}

.serviceb {
  display: flex;
  justify-content: center;
  margin: 0px 25px;
}

button {
  background-color: white;
  padding: 10px;
  border-radius: 25px;
  border: 3px #240c0a solid;
}

button a {
  text-decoration: none;
  font-family: 'Times New Roman', Times, serif;
  font-size: 15px;
  font-weight: bold;
  color: #a77d54;
  padding: 0px 20px;
}

.info {
  flex: 50%;
  background-color: #cdb9a1;
  border: 1px #707070 solid;
  border-radius: 20px;
}

.info h5 {
  font-size: 30px;
  text-align: center;
  margin: 25px 0px;
}

.info img {
  width: 60px;
  margin: 0px 30px;
}

.info p {
  margin-right: 10px;
}

.address {
  display: flex;
}

.email {
  display: flex;
}

.pnumber {
  display: flex;
}

.logos {
  display: flex;
  justify-content: center;
}

.logos img{
  height: 30px;
  width: auto;
  margin: 15px 10px;
  }
