/* @import url("https://fonts.googleapis.com/css?family=Montserrat:400,700&display=swap"); */

*{
  box-sizing: border-box;
}

body{
  font-family: monospace;
  margin: 0;
  background-color: #011b40;
  
}
.header{
  background-image: url("aur\ \(5\).jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: left ;
  color: #ecbb45;
  text-align: center;
  padding: 114.5px;
  object-fit:cover;
  height: 100%;
  width: 100%;
  padding-right: 13%;
  margin-top: -180px;
}
.header h6{
font-size: 80px;
  font-weight: 10px;
  color: #ecbb45;

}

.logo img {
  width: 100px; /* Adjust the width as needed */
  height: auto; /* Maintain aspect ratio */
}

.nav {
  position: sticky;
  overflow: hidden;
  top: 0;
  text-align: center;
  margin-right: 200px;
  transition: background-color 0.3 ease-in-out;
}

  
.nav .logo {
  float: left;
  padding: 0px 50px;
}

.nav a {
  display: inline-block;
  text-decoration: none;
  font-size: 20px;
  color: #fff;
  padding: 20px 20px;
  transition: background-color 0.3 ease-in-out;
}

.services {  
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: -35px;
}

.choose h5 {
  font-size: 40px;
  text-align: center;
  color: white;
  /* padding: 0px 0px; */
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0px 60px;
  width: 1000px;
}

.container .option_item {
  display: block;
  position: relative;
  height: 325px;
  width: 245px;
  margin: 15px;
  
}

.container .option_item .checkbox {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  opacity: 0;
}

.option_item .option_inner {
  width: 100%;
  height: 100%;
  /* background: #fff; */
  background-color: #ecbb45;
  border-radius: 0px;
  text-align: center;
  padding: 20px 0px;
  cursor: pointer;
  color: #011b40;
  font-size: 12px;
  font-weight: bold;
  /* display: block; */
  border: 3px solid transparent;
  /* position: relative; */
  box-shadow: 4px -4px 3px #4daae0b0;
  /* box-shadow: -10px 10px 0px rgba(99, 57, 18, 0.836); */
}

.option_item .option_inner:hover {
  transform: scale(1.05);
}

.option_item .option_inner .logo {
  margin-bottom: 10px;
}

.option_item .option_inner .logo img{
    width: 120px;
  }

.option_item .option_inner .logo .fab {
  font-size: 32px;
}

.option_item .option_inner .name {
  user-select: none;
}

/* CHECK COLOR */

.option_item .checkbox:checked ~ .option_inner.html {
  /* border-color: #f16529;
  color: #f16529; */
  transform: scale(1.05);
}

.option_item .checkbox:checked ~ .option_inner.css {
  /* border-color: #55acee;
  color: #55acee; */
  transform: scale(1.05);
}

.option_item .checkbox:checked ~ .option_inner.js {
  /* border-color: #ffd937;
  color: #ffd937; */
  transform: scale(1.05);
}

.option_item .checkbox:checked ~ .option_inner.python {
  /* border-color: #0077b5;
  color: #0077b5; */
  transform: scale(1.05);
}

.option_item .checkbox:checked ~ .option_inner.java {
  /* border-color: #000000;
  color: #000000; */
  transform: scale(1.05);
}

/* CHECKMARK */

.option_item .option_inner .tickmark {
  position: absolute;
  top: -1px;
  left: -1px;
  border: 20px solid;
  border-color: #000 transparent transparent #000;
  display: none;
  transform: scale(1.05);
}

.option_item .option_inner .tickmark:before {
  content: "";
  position: absolute;
  top: -18px;
  left: -18px;
  width: 15px;
  height: 5px;
  border: 3px solid;
  border-color: transparent transparent #fff #fff;
  transform: rotate(-45deg);
}

.option_item .checkbox:checked ~ .option_inner .tickmark {
  display: block;
}

.option_item .option_inner.html .tickmark {
  border-color: #55acee transparent transparent #55acee;}

.option_item .option_inner.css .tickmark {
  border-color: #55acee transparent transparent #55acee;
}

.option_item .option_inner.js .tickmark {
  border-color: #55acee transparent transparent #55acee;}

.option_item .option_inner.python .tickmark {
  border-color: #55acee transparent transparent #55acee;}

.option_item .option_inner.java .tickmark {
  border-color: #55acee transparent transparent #55acee;}


.message {
  /* background-color: #c2d5ee; */
  
  padding: 20px;
  font-size: 16px;
  color: #fff;
  max-width: 550px;
  margin: 0 auto;
  text-align: left;
  margin-top: 4%;
  margin-bottom: 5%;
}

.message label {
  text-align: center;
  font-size: 20px;
}

label, input {
  display: block;
  text-align: left;
  padding: 20px;
  margin-bottom: 10px;
}

input#message {
  /* resize: none; */
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  padding-bottom: 200px;
  border: 1px solid #ccc;
  font-size: 16px;
  color: #333;
}

input[type="submit"] {
  float: right;
  background-color: #fff;
  color: #a57e55;
  border: none;
  padding: 10px 20px;
  font-size: 15px;
  cursor: pointer;
}

input[type="submit"]:hover {
  background-color: #797979;
  color: #2c2c2c;
  text-align: center;
}



@media screen and (max-width: 700px) {
    .container {
      display: none;
      margin: 0px 60px;
      width: 1000px;
  }
  }